.hordiv {
  display: table-cell;
  vertical-align: middle;
}
.hordiv2 {
  padding-left: 15px;
  display: table-cell;
  vertical-align: middle;
}
.hordiv3 {
  padding-left: 25px;
  display: table-cell;
  vertical-align: middle;
  font-size: 90%;
}
.graycolor {
  color: gray;
}
.bluecolor {
  color: blue;
}
.labelwidth{
  display:block;
  float:left;
  width:40px;
}
