.content {
  position: fixed;
  background: #f4f4ff;
  width: 530px;
  height: 260px;
  top: 60px;
  right: 0px;
  padding: 5px 10px 10px 10px;
  overflow: hidden;
}

.ename {
  position: absolute;
}