.container {
  transition: all  0.3s ease;
  position: absolute;
  background: white;
  width: 100%;
}

.hide {
  height: 0;
  top: calc(100vh - 60px);
}

.spread {
  height: calc(100vh - 60px);
  top: 0;
}

.contentArea {
  background: white;
  position: relative;
  padding: 3px;
  height: 100%;
  overflow-y: scroll;
  z-index: 10;
}

.button {
  position: absolute;
  z-index: 15;
  right : 0;
  height: 28px;
  width: 70px;
  bottom: 0;
  color: white;
  border-style: none;
  background: #222222;
  opacity: 0.4;
}
