.tooltip {
    position: absolute;
    background: #2e3a54;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 6px;
    z-index: 10000;
    pointer-events: none;
}

.lt-arrow:after, .lt-arrow:before {
    right: 100%;
    top: 20;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
}
.lt-arrow:after {
    border-right-color: #2e3a54;
    border-width: 8px;
    margin-top: -8px;
}
.lt-arrow:before {
    border-right-color: #ffffff;
    border-width: 9px;
    margin-top: -9px;
}

.lb-arrow:after, .lb-arrow:before {
    right: 100%;
    bottom: 20;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
}
.lb-arrow:after {
    border-right-color: #2e3a54;
    border-width: 8px;
    margin-top: -8px;
}
.lb-arrow:before {
    border-right-color: #ffffff;
    border-width: 9px;
    margin-top: -9px;
}

.rt-arrow:after, .rt-arrow:before {
    left: 100%;
    top: 20;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
}
.rt-arrow:after {
    border-left-color: #2e3a54;
    border-width: 8px;
    margin-top: -8px;
}
.rt-arrow:before {
    border-left-color: #ffffff;
    border-width: 9px;
    margin-top: -9px;
}

.rb-arrow:after, .rb-arrow:before {
    left: 100%;
    bottom: 20;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
}
.rb-arrow:after {
    border-left-color: #2e3a54;
    border-width: 8px;
    margin-top: -8px;
}
.rb-arrow:before {
    border-left-color: #ffffff;
    border-width: 9px;
    margin-top: -9px;
};