
.radarActivityShow {
  display: block;
  font-size: 8pt;
}
.radarActivityHide {
  display: none;
  font-size: 8pt;
}

.graycolor {
  color: gray;
}
.bluecolor {
  color: blue;
}
.labelwidth{
  display:block;
  float:left;
  width:40px;
}