.popupwindow {
	position: absolute;
    background-color: #ffffff;
    border: 1px solid #2e3a54;
    padding: 1px;
    border-radius: 6px;
    height: 350px;
    width: 500px;
	/*pointer-events: none;*/
}

.titlebar {
    background: linear-gradient(#7b68ee, #6a5acd);
    padding-top: 8px;
    padding-left: 10px;
    color: #ffffff;
    height: 30px;
}
.selectdiv {
    display: table-cell;
    background-color: #4169e1;
    padding-top: 8px;
    padding-left: 20px;
    color: #ffffff;
    width: calc(100Vw);
    height: 30px;
}

.popupbutton {
     position: absolute;
     width: 20px;
     height: 20px;
     padding: 0;
     border: solid 1px rgba(0,0,0,0);
     border-radius: 4px;
     cursor: pointer;
     user-select: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
}
.popupbutton:hover {
    border:solid 1px rgba(150,150,150,0.8);
}
.closebt {
    top: 5px;
	right: 10px;
	/*pointer-events: auto;*/
    background:url(../../img/closebtn.png) no-repeat left top;
}