.wrapper {
}

.title_wrapper {
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    
}

.contents {
    padding: 0;
    margin: 0;
}
.list {
    margin: 0;
    height: calc(100vh - 56px - 40px - 56px - 80px);
    overflow-y: scroll;
}
.button {
    height: 50px;
    width: 100vw;
    text-align: center;
    padding: 0;
    margin: 15px 0px;
}