.popuptitle {
	width: 350px;
	font-size:18px;
	text-align:center;
}
.popupcontentbody {
	width: 350px;
	height: 350px;
    font-size:14px;
    color: #000000;
    background-color: #ffffff;
	margin: 0;
    overflow-y: scroll;
}
.popupwindow {
	position: absolute;
    background-color: #2e3a54;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 6px;
	pointer-events: all;
}

.popupbutton {
     position: absolute;
     width: 20px;
     height: 20px;
     padding: 0;
     border: solid 1px rgba(0,0,0,0);
     border-radius: 4px;
     cursor: pointer;
     user-select: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
}
.popupbutton:hover {
    border:solid 1px rgba(150,150,150,0.8);
}
.camera_close {
    top: 10px;
	right: 10px;
	/*pointer-events: auto;*/
    background:url(../../img/closebtn.png) no-repeat left top;
}