.title {
  border-left: #0b419a solid 3px;
  margin: 0;
  padding-left: 8px;
}

.titleArea {
  padding-top: 20px;
}

.content {
  padding: 10px;    
}
.list dt {
  float: left;
  font-weight: bold;
  padding: 7px 0 6px 3px;
}

.list dd {
  margin: 0;
  padding: 0.5em 0.5em 0.5em 6em;
  border-bottom: 1px #000000 dotted;
}