.container {
  z-index: 1;
  position: relative;
  top: 60px;
  height: calc(100vh - 60px);
  width:calc(100vh);
}

.menu {
  padding-bottom: 3px;
}

.contents {
  position: absolute;
  overflow: hidden;
  width: calc(100vw);
}

.sideMenu {
  z-index: 3;
  position: absolute;
}

.button {
  outline:none;
  position: absolute;
  border-radius: 50%;
  border: 0;
  top: 100px;
  left: 10px;
  height: 45px;
  width: 45px;
  background: #222222;
  opacity: 0.5;
  z-index: 5;
  color: #f4f4ff;
  font-size: 1.5em;
}

.button:hover {
  top: 98px;
  left: 8px;
  height: 49px;
  width: 49px;
  font-size: 1.7em;
}