.basediv {
  overflow: hidden;
}
.clddiv{
  width: 50%;
  float: left;
}
.legenditem{
  float: left;
  width: 25px;
  height: 20px;
}
.legendtext{
  float: left;
  vertical-align: middle;
  padding-left: 10px;
}
.legenditemwind{
  font-size: 22px;
  font-weight: bold;
  float: left;
  width: 25px;
  height: 20px;
}